* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.list {
  display: flex;
  /* gap:40px ; */
  justify-content: space-between;
  align-items: center;
}
.navRight {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 25px;
}
.btnNav {
  width: 160px;
  height: 40px;
  background-color: #09a66d;
  border-radius: 8px;
  color: white;
  border: none;
}
.leftNav {
  display: flex;
  align-items: center;
  /* gap: 155px; */
  justify-content: space-between;
}

.banner {
  position: relative;
}
.header-top-text {
  text-align: center;
  color: #222;
  font-size: 70px;
  font-style: normal;
  color: #222222;
}
header {
  background: #f3fbf8;
}





.image {
  position: absolute;
  top: -40px;
  left: -300px;
}
.graf {
  display: flex;
  align-items: center;
  gap: 20px;
}

.belgi {
  position: relative;
}

.lol {
  margin: 0 115px;
}







.button {
  width: 250px;
  height: 116px;
  flex-shrink: 0;
  border: none;
  background-color: #fff;
  display: flex;
}
.box-text-top {
  margin-top: 17px;
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
}
.box-text-bottom {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 10px;
}

.grab {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.img-box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(179, 219, 179, 0.3);
}
.btn {
  border: 1px solid white;
}
.button-box {
  padding-left: 25px;
}
.container-why{
   margin: auto;
   margin-top: 180px;
   width: 1440px;
}
.p-lorem{
  margin-top: 20px;
}
.card{
  display: flex;
  border: none;
}